.body {
    width: 1280px;
    font-family: 'Roboto', sans-serif;
}

.header-name {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
    margin-top: 63px;
    display: inline-block;
}

.header-name-span {
    color: #4BCAFF;
}


.menu-top {
    display: flex;
    background-color: #35444F;
    height: 69px;
    align-items: center;
    margin-top: 40px;
    justify-content: center;
}

.menu-items-top {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 62px;
    cursor: pointer;
}



.menu-aside {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    justify-content: space-around;
    padding: 26px 44px 26px 44px;
    margin-top: 47px;
    box-sizing: border-box;
}

.menu-items-aside {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    cursor: pointer;
}

.aside-main-footer {
    display: flex;
    gap: 47px;    
}

.main-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    margin-top: 47px;
    height: 529px;   
}

.text-main {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.text-first {
    margin-top: 30px;
}

.text-second {
    margin-top: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer-menu {
    display: flex;
    justify-content: space-around;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
    align-items: center;
    padding-left: 40px; 
    padding-right: 40px;
    margin-top: 54px;
}

.footer-menu-items {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    cursor: pointer;    
}
.footer-menu-items-copy {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927; 
    margin-left: 135px;
}